h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 42px;
    text-align: center;
    margin-left: 350px;
    font-weight: bold;
}
p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    justify-items: center;
    margin-left: 250px;
}
body{
    width: 1050px;
    
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f0f0f0;
    font-size: 20px;
    width: 1050px;
  }
  main img{
    width: 1050px;
    height: auto;
    margin-left: 150px;
  }